.navbar-brand {
height: auto;
>img{
width: 80%;
}
}

.navbar {
border-bottom: 1px solid #ccc;
font-family:'hn_medium';
}

.navbar {
.navbar-toggle {
padding: 11px 10px;
border: 1px solid #E4E4E4;
border-radius: 0;
&:hover {
background:#f8f8f8;
}
.icon-bar {
background-color: rgb(158, 158, 158);
}
}
}