h1{
font-family:'brandon_grotesquebold';
text-transform:uppercase;
color:black;
margin-top: 8px;
line-height: 45px;

.underline {
border-bottom: 5px solid #ed2027;

display: inline-block;
vertical-align: top;

font-weight: normal;
}
}

